body>header{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    max-width: 1920px;
    margin: 0 auto;
}

body>header>.header_right{
    display: flex;
    flex-flow: row;
    gap: 2rem;
}

body>header>.header_right>nav>ul{
    display: flex;
    flex-flow: row;
    gap: 2rem;
    list-style: none;
}