h1 {
  color: var(--accent-color);
  font-family: var(--h1-font);
  font-size: var(--fs-xxxl);
  text-align: center;
  margin: 0;
}

h3{
    font-family: var(--subtitle-font);
    font-weight: 400;
    font-size: var(--fs-l);
    color: var(--main-white);
    text-align: center;
    margin: 0;
    opacity: 54%;
}

.home_card{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 50px;
}

.home_card img{
    max-height: 50vh;
}

#home_searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#home_searchbar input{
    padding: 0;
    width: 70vw;
    max-width: 500px;
    background-color: transparent;
    border: none;
    align-self: auto;
    padding-left: 10px;
    padding-bottom: 8px;
}

#home_searchbar input:focus{
    outline : none;
}

#home_searchbar button{
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    justify-content: center;
}

#home_searchbar button svg{
    height: auto;
    padding: 5px 7px 0 0;
}


#wrapper{
    border: 1px solid var(--accent-color);
    border-radius: 10px;
}

@media screen and (width <= 425px){
    
}
