#home_left {
  grid-column: 2 / span 5;
}

#home_left h1{
  font-family: var(--h1-font);
  font-size: var(--fs-xxxl);
  font-weight: 400;
}

#home_left h3, h4{
  font-family: var(--subtitle-font);
  text-transform: uppercase;
}

#home_left h3{
  letter-spacing: 2px;
}

#home_left h4{
  font-size: var(--fs-md);
  opacity: 0.9;
}

#home_left h4{
  font-size: var(--fs-base);
}

#home_left form{
  display: flex;
  height: 40px;
  gap: 10px;
}

#home_left form input{
  flex: 1;
  font-family: var(--subtitle-font);
  font-size: var(--fs-base);
  border-color: var(--main-color);
  outline: none ;
  border-radius: 0px;
}

#home_left form button{
  background-color: var(--main-color);
  outline: none;
  color: var(--main-white);
  width: 45px;
  border-color: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

#home_left form button:hover{
  background-color: var(--main-white);
  color: var(--main-color);
}

#home_right {
  grid-column: 9 / span 3;
}

#home_right > figure {
  position: relative;
  height: 80%;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 18px rgba(26, 28, 44, 0.12);
  border-radius: 20px;
}

#home_right > figure > img {
  width: 100%;
  display: block;
  border-radius: 20px;
}

#home_right > figure > figcaption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 15px;
  gap: 5px;
  color: white;
  border-radius: 20px;

  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  mask-image: linear-gradient(to top, black 40%, transparent);
  -webkit-mask-image: linear-gradient(to top, black 40%, transparent);

}


#home_right > figure > figcaption > span{
    font-family: var(--subtitle-font);
    font-size: var(--fs-md);
    color: var(--main-white);
}
main {
  grid-template-rows: 100%;
  align-items: center;
}
