<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TCG Art</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Decks</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="index.php?categorie=contact">Contact</a></li>
        </ul>
      </nav>

      <div id="logo">
        <a href="#" aria-label="Go to homepage"
          ><img src="#" alt="TCG Art logo"
        /></a>
      </div>
    </header>